<div class="container">

  <h1>Showing Blog Post '<strong><%= @article.title %></strong>'</h1>
  <p class="comments">
    Title: <%= @article.title %>
  </p>

  <p class="comments">
    Text:  <%= @article.text %>
  </p>

  <h2>Comments:</h2>
  <%= render @article.comments %><br>

  <h2>Got something to say?:</h2>

<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path %><br>
<%= link_to 'Posts', articles_path %><br>
<%= link_to 'Home', controller: 'welcome' %>
</div>
